<div id="dashboard">
  <app-dashboard-card
    [image]="'status.png'"
    [altText]="'A signal symbol'"
    title="Server Status"
  >
    <app-server-status></app-server-status>
  </app-dashboard-card>

  <app-dashboard-card
    [image]="'globe.png'"
    [altText]="'A globe'"
    title="Traffic"
  >
    <app-traffic></app-traffic>
  </app-dashboard-card>

  <app-dashboard-card
    [image]="'list.png'"
    [altText]="'A list of items'"
    title="Support Tickets"
  >
    <app-support-tickets></app-support-tickets>
  </app-dashboard-card>
</div>
